<section class="max-w-xl">
    <%= simple_form_for @migrant, defaults: { input_html: {class: 'form-input mt-1 font-sans'}, wrapper_html: {class: 'flex flex-col my-4'}, label_html: {class: 'mb-1'}} do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="pt-2">
        <%= f.input :name %>
        <%= f.input :aadhar_id %>
        <%= f.input :employer_name %>
    </div>

    <div class="pt-2">
        <%= f.input :local_address %>
        <%= f.input :has_toilet, input_html: {class: 'form-checkbox'} %>
        <%= f.input :ward %>
        <%= f.input :panchayath %>
        <%= f.input :no_house_mates %>
        <%= f.input :cooking %>
    </div>

    <div class="pt-2">
        <%= f.input :can_speak_local_language, input_html: {class: 'form-checkbox'} %>
    </div>

    <div class="pt-4">
        <%= f.button :submit, "Register",class: 'p-2 rounded-md bg-gray-900 text-white shadow-md'  %>
    </div>
    <% end %>

</section>
