<p id="notice"><%= notice %></p>

<h1>Migrants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employer name</th>
      <th>Local residence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @migrants.each do |migrant| %>
      <tr>
        <td><%= migrant.name %></td>
        <td><%= migrant.employer_name %></td>
        <td><%= migrant.local_residence %></td>
        <td><%= link_to 'Show', migrant %></td>
        <td><%= link_to 'Edit', edit_migrant_path(migrant) %></td>
        <td><%= link_to 'Destroy', migrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Migrant', new_migrant_path %>
